.nav-item a {
  color: #c4c4c4;
}

.nav-item a:hover {
  color: #393E46;
}

.jumbotron {
  padding-top: 9rem;
  background-color: #eeeeee;
}

#project {
  background-color: #eeeeee;
}

#project .container {
  padding-bottom: 6rem;
}

#about .container {
  padding-bottom: 8rem;
}

section {
  padding-top: 6rem;
}
